[buildout]
develop = .
parts = test test3 py

[test]
recipe = zc.recipe.testrunner
eggs = zc.customdoctests [test,js]

[test3]
# python-spidermonkey does not run on Python 3 yet.
recipe = zc.recipe.testrunner
eggs = zc.customdoctests [test]

[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py
